:host {
  display: block;
}

main {
  margin-left: 0;
  margin-top: 56px;
  padding: 1.5rem;
  transition: margin-left 0.3s ease;
  min-height: calc(100vh - 56px);
  background-color: #121212;

  &.sidebar-open {
    margin-left: 260px;
  }
}

@media (max-width: 768px) {
  main.sidebar-open {
    margin-left: 0;
  }
}
